* {
    box-sizing: border-box;
}
/* Navbar starts from here */
    /* for desktop */

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66%66;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.nav-logo {
    text-align: left;
}
.nav-heading h1 {
    text-align: right;
}
.navbar-menu {
    flex-direction: row;
    justify-content: flex-end;
}
.navbar-menu a {
    padding: 5px 10px;
    margin: 20px 10px;
}
/* Navbar end here */

/* Profile starts from here */
.profile .top-icon {
    top: 100px;
    width: 180px;
}
.profile .top-icon:hover {
    width: 220px;
}

.profile .bottom-icon {
    
    width: 180px;
}
.profile .bottom-icon:hover {
    width: 220px;
}


/* Profile ends from here */

/* about me starts from here */
.aboutme-pic {
    margin-top: 100px;
}
.aboutme-pic img {
    height: 270px;
    width: 250px;
}
.aboutme-sec p {
    text-align: left;
}
/* about me ends from here */

/* animation start from here */
.ability {
    padding: 1% 0%;
}

/* animation ends from here */

/* achievement section start from here */
.achievement {
    padding-right: 50px;
}
/* achievement section ends from here */
/* contact me start from here */


/* contact me ends from here */


/* contact-links start from here */
.contact-links {
    position: relative;
}

.con-btn {
    position: absolute;
    margin-top: 200px;
    left: 50%;
    top: 50%;
    transform: translate(-50% ,-50%);
}

/* contact-links ends from here */

/* footer starts from here */
.footer-menu {
    margin-top: 15px;
}
.footer-menu a {
    display: inline;
    margin: 15px;
}


/* footer starts from here */

